#nav-bar{
    position: absolute;
    top: 0;
}
section{
    width: 100%;
    padding: 5rem 0;
    overflow: hidden;
}
section h2{
    color: var(--color-header);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0 3rem 0;
}
section p{
    text-align: center;
    margin: 1rem;
    color: #3c3c3c;
    overflow: hidden;
}
section button{
    display: block;
    margin: 2rem auto;
}
section.main{
    height: 100vh;
    text-align: center;
    color: var(--color-header);
    clip-path: ellipse(100vmax 100% at 50% 0%);

    background-image:url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: 100% 130%;
}
section.main header .title-text{
    font-size: 2rem;
}
section.main header p{
    line-height: normal;
    font-size: 1.2rem;
    margin: 1rem 2rem 2rem 2rem;
}
section.main img{
    max-width: 100%;
}

section.topical-courses {
    background-color: var(--bg-color-second);
    overflow: visible;
}
section.topical-courses .courses-image {
    width: 15rem;
    height: 23rem;
    margin: 4rem auto -8rem auto;

    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    grid-gap: 1rem;
}
section.topical-courses .courses-image .card {
    font-size: .5rem;
    background-color: var(--bg-color-second);
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 2rem -1rem;
}
section.topical-courses .courses-image .card img {
    width: 100%;
}
section.topical-courses .courses-image .card h6{
    color: #000;
    font-size: .7rem;
    font-weight: bold;
    margin: .2rem .5rem;
}
section.topical-courses .courses-image .card ul{
    color: black;
    list-style-position: inside;
    list-style-type:disc;
    padding: .2rem;
    margin-left: .5rem;
}

section.blogs{
    background-color: var(--bg-color-second);
}
section.blogs button{
    width: 17rem;
    background-color: var(--color-header);
}

.blog-card{
    margin: auto;
    width: 17rem;
    height: 30rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 .5rem 1.5rem -0.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.blog-card>img{
    width: 100%;
    height: 40%;
    object-fit: cover;
}
.blog-card h4{
    margin: .5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.blog-card p{
    flex: 4rem 1 0;

    margin: .5rem 1rem;
    text-align: left;
    font-size: .9em;
}
.blog-card .author-details{
    height: 2rem;
    margin: 1rem 0;

    font-size: .76em;
    color: #777;

    display: grid;
    grid-template: 1fr 1fr / 3rem auto;
}
.blog-card .author-details .profile-pic{
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
}
.blog-card .author-details .author-name{
    font-weight: bold;
    color: var(--color-header);
}
.blog-card .author-details .publish-date{
    font-weight: bold;
}